<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Booking Confirmation</h1>
    <p>Successfully booked {{ num_tickets }} tickets for {{ ticket.event }}!</p>
    <p>Total Price: ₹{{ ticket.price * num_tickets }}</p> <!-- Display total price in INR -->

    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
